#quiz-card-wrapper .quiz-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#quiz-card-wrapper .quiz-card .edit-icon,
#quiz-card-wrapper .quiz-card .delete-icon {
  padding: 0;
  margin-left: 5px;
}
